.jumbotron {
  background: #AC2B37;
  color: white; 
  padding: 20px !important;
}

.pageTitle {
	font-size: 50px !important;
}

.increment, .decrement {
	border: none;
	font-size: 30px;
	border-radius: 5px;
    background-color: #777;
    padding: 0px 0px 5px 0px;
    cursor: pointer;
	margin: 10px;
	width: 50px;
	color: white;
	outline: none;
}

.ballInput {
	vertical-align: top;
	width: 60px;
	height: 48px;
	padding: 0;
	margin: 10px;
	text-align: center;
	-webkit-appearance: none;
    border: none;
    background-color: inherit;
    font-size: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.decrement {
	margin-left: 0px;
}

.increment:hover, .decrement:hover {
   background-color: #555;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.toggle {
	height: auto;
	padding: 18px;
	margin: auto;
	color: white;
	border-style: outset;
	border-width: 5px;
	cursor: pointer;
	user-select: none;
	width: 15%;
}

/* style range */
input[type=range] {
    width: 30%;
    max-width: 30%;
    text-align:center;
	margin: 0;
	display: inline;
}

/* style datalist */
input[type=range] + datalist {
    display: block;
    margin-top: -4px;
}
input[type=range] + datalist option {
    display: inline-block;
    width: calc((30% - 12px) / (var(--list-length) - 1));
    text-align: center;
}
input[type=range] + datalist option:first-child {
    width: calc((30% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
    text-align: left;
}
input[type=range] + datalist option:last-child {
    width: calc((30% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
    text-align: right;
}

.styledButton {
  background-color: #AC2B37;
  border: outset;
  color: white;
  border-color: #cc3342;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-width: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  font-weight: normal;
}

#endState {
	width: 300px;
	height: 300px;
	margin: 15px;
	user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

input[type="text"] {
	width: 15%;
}

input[type="file"] {
    display: none;
}

canvas {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: auto;
}

h1 {
	color: white;
}

#qrcode-scanner {
	position: fixed;
	margin: 0;
	width: 100%;
	max-width: 360px;
	background-color: #fff;
	box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.3);
}

#qrcode-scanner video {
	width: 100%;
}

#exit {
	cursor: pointer; 
	font-weight: bold; 
	float: right; 
	margin: 0px; 
	margin-right: 25px;
	font-size: 20px;
}

@media only screen and (max-device-width: 480px) {
	input[type=range] {
		width: 90%;
		max-width: 90%;
	}
	
	.toggle {
		width: 50%;
	}
	
	input[type=range] + datalist option {
		width: calc((90% - 12px) / (var(--list-length) - 1));
	}
	input[type=range] + datalist option:first-child {
		width: calc((90% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
	}
	input[type=range] + datalist option:last-child {
		width: calc((90% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
	}
	
	input[type="text"] {
		width: 50%;
	}
	
	textarea {
		width: 90%;
	}
	
	hr {
		display: none;
	}
	
	#qrWrapper {
		background-color: white;
		position: fixed;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}
	
	#exit {
		margin: 5px 20px 5px 0px; 
	}
	
	.pageTitle {
		font-size: 30px !important;
	}
}