.jumbotron {
  background: #AC2B37;
  color: white; }
  .jumbotron .btn-primary {
    background: #AC2B37;
    border-color: #AC2B37; }
    .jumbotron .btn-primary:hover {
      background: #AC2B37; }
  .jumbotron p {
    color: white;
    max-width: 75%;
    margin: 1em auto 2em; }
  .jumbotron .lang-logo {
    display: block;
    background: #AC2B37;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; 
}

.increment, .decrement {
	border: none;
	border-radius: 5px;
    background-color: #777;
    padding: 5px;
    cursor: pointer;
	margin: 10px;
	width: 25px;
	color: white;
	outline: none;
}

.decrement {
	margin-left: 0px;
}

.increment:hover, .decrement:hover {
   background-color: #555;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.toggle {
	height: auto;
	padding: 18px;
	margin: auto;
	color: white;
	border-style: outset;
	border-width: 5px;
	cursor: pointer;
	user-select: none;
	width: 15%;
}

/* style range */
input[type=range] {
    width: 30%;
    max-width: 30%;
    text-align:center;
	margin: 0;
	display: inline;
}

/* style datalist */
input[type=range] + datalist {
    display: block;
    margin-top: -4px;
}
input[type=range] + datalist option {
    display: inline-block;
    width: calc((30% - 12px) / (var(--list-length) - 1));
    text-align: center;
}
input[type=range] + datalist option:first-child {
    width: calc((30% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
    text-align: left;
}
input[type=range] + datalist option:last-child {
    width: calc((30% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
    text-align: right;
}

.styledButton {
  background-color: #AC2B37;
  border: outset;
  color: white;
  border-color: #cc3342;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-width: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  font-weight: normal;
}

input[type="file"] {
    display: none;
}

canvas {
	width: 90%;
	max-width: 90%;
	height: auto;
	margin: auto;
}

h1 {
	color: white;
}

@media only screen and (max-device-width: 480px) {
	input[type=range] {
		width: 90%;
		max-width: 90%;
	}
	
	.toggle {
		width: 50%;
	}
	
	input[type=range] + datalist option {
		width: calc((90% - 12px) / (var(--list-length) - 1));
	}
	input[type=range] + datalist option:first-child {
		width: calc((90% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
	}
	input[type=range] + datalist option:last-child {
		width: calc((90% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
	}
	
	textarea {
		width: 90%;
	}
}