<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background: #A9B0B7">

<script type="module">
	import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

	const el = document.createElement('pwa-update');
	document.body.appendChild(el);
</script>

<script data-cfasync="false" type="text/javascript">
	function sendInfo() {
		// variable to hold request
		var request;
		// abort any pending request
		if (request) {
			request.abort();
		}
		// fire off the request to /form.php
		request = $.ajax({
			url: "https://script.google.com/macros/s/AKfycbx91LRDnkhArIkw6e15RzmVW30IatTbzMmZlmTIpOas--0mBCLK/exec",
			type: "post",
			data: {"Team Number": document.getElementById("number").value, "Autonomous Bonus": document.getElementById("autoBonus").value,
			"Balls Scored": document.getElementById("scored").value, "Rows Scored": document.getElementById("rows").value}
		});
		// callback handler that will be called on failure
		request.fail(function (jqXHR, textStatus, errorThrown){
			document.getElementById("demo").innerHTML = "error";
			// log the error to the console
			console.error(
				"The following error occured: "+
				textStatus, errorThrown
			);
		});
		request.done(function (response, textStatus, jqXHR){
			// Log a message to the console
			console.log("Hooray, it worked!");
		});
		// prevent default posting of form
		event.preventDefault();
	}
</script>
  
<div class="jumbotron text-center">
  <div class="container">
    <h1>Scouting App</h1>
    <p>Record the events of the match for your assigned robot</p>
  </div>
</div>
<div class="container" style="text-align: center">
  <label for="fname">Team number: </label><br>
  <input type="text" id="number" name="number"><br><br>
  <label for="fname">Autonomous bonus: </label><br>
  <select name="autoBonus" id="autoBonus">
	<option value=0>0 points</option>
	<option value=3>3 points</option>
	<option value=6>6 points</option>
  </select><br><br>
  <label for="fname">Balls scored: </label><br>
  <input type="text" id="scored" name="scored"><br><br>
  <label for="fname">Rows scored: </label><br>
  <input type="text" id="rows" name="rows"><br><br>
  <button onclick="sendInfo()" id="sendData" type="submit" value="Send">Send data</button>
  <p id="demo"></p>
</div>


</body>
</html>
