<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>

<body style="background: #A9B0B7">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jsqr@1.1.1/dist/jsQR.min.js"></script>
<script src="bundle.js"></script>
<script src="QRCodeScanner.js"></script>
<script src="app-code.js"></script>

<script type="module">
    import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

    const el = document.createElement('pwa-update');
    document.body.appendChild(el);
</script>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="pageTitle">WPI Scouting App</h1>
    </div>
</div>
<div class="container" style="text-align: center">
    <button type="button" class="collapsible">General</button>
    <div class="content"><br>
        <label for="match">Match number: </label><br>
        <input type="text" id="match" name="match"><br><br>
        <div class="sideToggle toggle" id="side" style="background-color: #AC2B37; border-color: #cc3342;">Red</div>
        <br>
        <label for="name">Team name: </label><br>
        <input type="text" id="name" name="name"><br><br>
        <div class="robotToggle toggle" id="robot" style="background-color: #ff8000; border-color: #fea64c;">15 inch
        </div>
        <br>
    </div>
    <br><br>
    <button type="button" class="collapsible">Autonomous</button>
    <div class="content"><br>
        <label for="ballsAuto">Balls scored: </label><br>
        <input class="ballInput" type="number" id="ballsAuto" name="ballsAuto" value=0>
        <button onclick="changeVal(this)" class="ba increment">+</button>
        <button onclick="changeVal(this)" class="ba decrement">-</button>
        <br><br>
        <label for="goalsAuto">Goals scored: </label><br>
        <input class="ballInput" type="number" id="goalsAuto" name="goalsAuto" value=0>
        <button onclick="changeVal(this)" class="ga increment">+</button>
        <button onclick="changeVal(this)" class="ga decrement">-</button>
        <br><br>
        <label for="rowsAuto">Rows scored: </label><br>
        <input class="ballInput" type="number" id="rowsAuto" name="rowsAuto" value=0>
        <button onclick="changeVal(this)" class="ra increment">+</button>
        <button onclick="changeVal(this)" class="ra decrement">-</button>
        <br><br>
    </div>
    <br><br>
    <button type="button" class="collapsible">Teleoperated</button>
    <div class="content"><br>
        <label for="ballsTeleop">Balls scored: </label><br>
        <input class="ballInput" type="number" id="ballsTeleop" name="ballsTeleop" value=0>
        <button onclick="changeVal(this)" class="bt increment">+</button>
        <button onclick="changeVal(this)" class="bt decrement">-</button>
        <br><br>
        <label for="descoredTeleop">Balls descored: </label><br>
        <input class="ballInput" type="number" id="descoredTeleop" name="descoredTeleop" value=0>
        <button onclick="changeVal(this)" class="dt increment">+</button>
        <button onclick="changeVal(this)" class="dt decrement">-</button>
        <br><br>
        <label for="comment">Comments: </label><br>
        <textarea id="comment" name="comment" rows="6" cols="40"></textarea><br><br>
    </div>
    <br><br>
    <button type="button" class="collapsible">Final Field State</button>
    <div class="content"><br>
        <input class="ballInput" style="color: #AC2B37" type="number" id="finalRed" name="finalRed" value=0>
        <button onclick="changeVal(this)" class="fr increment">+</button>
        <button onclick="changeVal(this)" class="fr decrement">-</button><br><br>
        <input class="ballInput" style="color: #4D4DFF" type="number" id="finalBlue" name="finalBlue" value=0>
        <button onclick="changeVal(this)" class="fb increment">+</button>
        <button onclick="changeVal(this)" class="fb decrement">-</button><br><br>
        <canvas width="300" height="300" id="endState"></canvas>
        <br><br>
    </div>
    <br><br><br>
    <button onclick="sendCurrent()" class="styledButton" type="submit">Send current match</button>
    <button onclick="sendCached()" class="styledButton" type="submit">Send cached matches</button>
    <button id="btn-open-qrcode-scanner" class="styledButton">Upload a QR Code</button>
    <br><br>
    <p id="fileListP"></p><br><br>
    <h1>Cached Matches</h1><br><br>
    <div id="cacheButtons"></div>
    <br><br>

    <div id="qrcode-scanner" style="display: none; border: 1px solid gray;">
        <div style="background-color: #ccc; padding: 6px;">
            <strong>QR Code Scanner</strong>
        </div>
        <div id="pane-webcam" style="display: none;">
            <video autoplay></video>
            <canvas style="display: none;" id="cameraCanvas"></canvas>
        </div>
        <div>
            <button name="close" style="width: 100%;">&times; Close</button>
        </div>
    </div>

    <div id="qrWrapper" style="display:none;">
        <hr>
        <span id="exit" title="Close" onclick="closeQR()">&times;</span><br>
        <h2 id="matchTitle"></h2><br>
        <canvas id="canvas" width="100" height="100"></canvas>
        <br><br>
        <button onclick="deleteCurrent()" class="styledButton" type="submit">Delete match</button>
    </div>
</div>
<br>
</body>
</html>
